USE [TBGLCarDealer]
GO
/****** Object:  Table [dbo].[TBGLCarSales]    Script Date: 8/26/2021 1:34:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBGLCarSales](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarMaker] [nvarchar](50) NOT NULL,
	[CarModel] [nvarchar](50) NOT NULL,
	[SalePriceInDollar] [decimal](18, 0) NOT NULL,
	[SaleDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBGLCarSales] ON 

INSERT [dbo].[TBGLCarSales] ([ID], [CarMaker], [CarModel], [SalePriceInDollar], [SaleDate]) VALUES (1, N'Honda Motor Co', N'Honda CR-V', CAST(315300 AS Decimal(18, 0)), CAST(N'2021-07-10T00:00:00.000' AS DateTime))
INSERT [dbo].[TBGLCarSales] ([ID], [CarMaker], [CarModel], [SalePriceInDollar], [SaleDate]) VALUES (2, N'Toyota Motor Corp', N'Toyota Camry', CAST(329590 AS Decimal(18, 0)), CAST(N'2021-07-15T00:00:00.000' AS DateTime))
INSERT [dbo].[TBGLCarSales] ([ID], [CarMaker], [CarModel], [SalePriceInDollar], [SaleDate]) VALUES (3, N'Honda Motor Co', N'Honda CR-V', CAST(283180 AS Decimal(18, 0)), CAST(N'2021-07-16T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TBGLCarSales] OFF
GO
